.contact-container {
  margin-top: 8%;
  border-radius: 20px;
  background-color: black;
  border: solid 1px gold;
  padding: 20px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.contact-title {
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  font-size: 5rem;
}

.social-links-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  width: 50%;
}

.social-links {
  background-color: black;
  border-radius: 30px;
  border: 3px solid purple;
  height: 100px;
  width: 100px;
}

.contact-text {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  background-color: black;
  border: 3px solid purple;
  border-radius: 20px;
  color: white;
  font-family: "Permanent Marker", cursive;
}

.name-label {
  display: inline-block;
  width: 25%;
  margin-top: 6px;
  color: white;
}

.row {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.col-25 {
  font-family: "Permanent Marker", cursive;
  float: left;
  width: 120px;
  margin-top: 6px;
}

.imput-form {
  height: 20px;
  width: 200%;
}

.col-75 {
  float: left;
  width: 20%;
  margin-top: 6px;
  margin-left: 30px;
}

.subject {
  height: 200px;
  width: 400px;
}

label {
  height: 35px;
  padding: 0;
  display: inline-block;
}

.like-see {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 1px solid gold;
  background-color: black;
  color: white;
  text-align: center;
}

/* Special effects for form */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

input[type="submit"]:hover {
  background-color: gold;
  color: black;
}

input[type="submit"] {
  background-color: purple;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
