.contact-container {
  margin-top: 8%;
  border-radius: 20px;
  background-color: black;
  border: solid 1px gold;
  padding: 20px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.social-links-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  width: 50%;
}

.social-links {
  background-color: black;
  border-radius: 30px;
  border: 3px solid purple;
  height: 100px;
  width: 100px;
}

.contact-text {
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  background-color: black;
  border: 3px solid purple;
  border-radius: 20px;
  color: white;
  font-family: "Permanent Marker", cursive;
}

.like-see {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 1px solid gold;
  background-color: black;
  color: white;
  text-align: center;
}

@media (max-width: 858px) {
  .social-links-container {
    width: 95%;
    margin-bottom: 30px;
  }
  .contact-text {
    width: 95%;
  }
}
