.project-title {
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 1px solid gold;
  border-radius: 20px;
  background-color: black;
  text-align: center;
}
.project-card {
  margin-top: 20px;
}
.like-see {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  text-align: center;
  background-color: black;
  border: 3px solid purple;
  border-radius: 20px;
  color: white;
  font-family: "Permanent Marker", cursive;
}

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  color: white;
}

.card-title {
  width: 100%;
  font-size: 3rem;
  font-family: "Permanent Marker", cursive;
  text-align: center;
  color: purple;
}
.tcf-card {
  height: 150px;
  margin-top: -30px;
}
.project-text {
  width: 90%;
}

.record-pic {
  width: 25%;
}
.project-card {
  border: 1px solid gold;
  border-radius: 25px;
  background: black;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  align-items: center;
}

@media (max-width: 858px) {
  .project-title {
    width: 95%;
    margin-top: 110px;
  }
  .like-see {
    margin-top: -30px;
    width: 95%;
  }
  .project-card {
    width: 95%;
  }
  .card-title {
    width: 95%;
  }
  .dice-pic {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .about-text {
    font-size: 1.5rem;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
  }
  .record-pic {
    margin-top: -30px;
    width: 50%;
    margin-bottom: 10px;
  }
  .otg-img {
    width: 60%;
    margin-left: 15%;
    margin-right: auto;
    margin-bottom: 10px;
  }
}
